<h1>videos page</h1>



<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
<div id="timeline">
<img src="/assets/line.svg" alt="">
</div>

<input type="submit" value="Interesting" id="time" name="interesting" class="btn btn-info btn-xs">

<input type="submit" value="Rephrase" id="time" name="rephrase" class="btn btn-success btn-xs">

<input type="submit" value="Stop" id="time" name="stop" class="btn btn-warning btn-xs">

<input type="submit" value="Drill" id="time" name="drill" class="btn btn-danger btn-xs">
&nbsp
<input type="text" name="" id="comment" placeholder="Write a comment" autofocus>


