<h1>videos page</h1>



<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
<div id="timeline">
<img src="/assets/line.svg" alt="">
</div>
<p>Time: <span id="showtime"></span></p>



<input type="submit" value="Time" id="time" name="time">


