#timeline {
  height: 100px;
  position: relative;
  width: 640px;
  overflow-y: scroll
}

.interesting {
  position: absolute;
  width: 5px;
  height: 15px;
  background: #31b0d5;
  border-radius: 4px;
}

.rephrase {
  position: absolute;
  width: 5px;
  height: 15px;
  background: green;
  border-radius: 4px;
}

.drill {
  position: absolute;
  width: 5px;
  height: 15px;
  background: red;
  border-radius: 4px;
}

.stop {
  position: absolute;
  width: 5px;
  height: 15px;
  background: orange;
  border-radius: 4px;
}

.btn {
  margin-left: 10px;
}

